.fade-in-out {
  -webkit-animation: fadeinout 2s linear 1 forwards;
  animation: fadeinout 2s linear 1 forwards;
}

@-webkit-keyframes fadeinout {
0% { opacity: 0; }
25% { opacity: 1; }
75% { opacity: 1;}
100% { opacity: 0; }
}

@keyframes fadeinout {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1;}
  100% { opacity: 0; }
}

.fade-out-in {
  -webkit-animation: fadeoutin 2s linear 1 forwards;
  animation: fadeoutin 2s linear 1 forwards;
}

@-webkit-keyframes fadeoutin {
0% { opacity: 1; }
25% { opacity: 0; }
75% { opacity: 0;}
100% { opacity: 1; }
}

@keyframes fadeoutin {
  0% { opacity: 1; }
  25% { opacity: 0; }
  75% { opacity: 0;}
  100% { opacity: 1; }
}

.slide-right {
  animation: slideright ease-in 0.25s forwards;
}

@keyframes slideright {
  from {
    left: 0% 
  }

  to {
    left: calc(100% - 15px)
  }
}

.slide-left {
  animation: slideleft ease-in 0.25s forwards;
}

@keyframes slideleft {
  from {
    left: calc(100% - 15px)
  }

  to {
    left: 0%
  }
}