.action-button {
    margin-top: 10px;
    background: #bd3922;
    border: none;
    border-radius: 3px;
    height: 29px;
    padding-left: 10px;
    padding-right: 10px;
    color: #DDDDDD;
    font-family: "Montserrat Medium";
    cursor: pointer;
    outline: none;
    float:right;
}

.action-button:hover {
    background: #b5311a;
}